

.inner-wrapper {
  width: 620px;
  padding-top: 120;
  padding-bottom: 60px;
  margin: 0 auto;
}
.links {
  text-align: left;
  margin-top: 50px;
  margin-left: 40px;
}
.hi {
  font-size: 36px;
  width: 50%;
  clear: both;
  margin-left: 40px;
}

.mail{
  margin-left: 40px;
}

.ux {
  padding-top: 60px;
  clear: both;
  margin: 0, 40px;
  width: 40%;
  margin-left: 40px;
}

.artist {
  margin-top: 45px;
  width: 40%;
  float: none;
  margin-left: 40px;
}

.love {
  padding-top: 30px;
  width: 40%;
  clear: both;
  margin-left: 40px;
}

.rrss {
  width: 100%;
  text-align: left;
  padding-top: 120px;
  clear: both;
  margin-left: 40px;
}

.challenges{
  float: left;
  margin-bottom: 24px;
  padding-bottom: 50px;
}
.background{
  margin-top: 120px;
  background-image: url("../images/background3.png");
  height: 560px;
  background-repeat: no-repeat;
  background-position-x: center;
  clear: both;
  position: margin-left;
  margin-left: 40px;
}
