body {
  font-family: 'Quicksand', sans-serif;
  color: #551B5A;
  background: linear-gradient(#5128A9, #571120);
  font-size: 20px;
  padding: 10px;
}


.wrapper {
  background-color: #fff;
}

.inner-wrapper {
  width: 1200px;
  padding-top: 120;
  padding-bottom: 60px;
  margin: 0 auto;
}


.hi {
  font-size: 48px;
  width: 70%;
  clear: both;
}

.links-parent {
  padding-top: 100px;
  font-family: 'Karma', serif;
}

.links {
  text-align: right;
}

.links a{
  color: #551B5A;
  text-decoration: none;
}
.links a{
  display: inline-block;
  position: relative;
  color: #551B5A;
}
.links a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #551B5A;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.links a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


.ux {
  padding-top: 60px;
  width: 66%;
  clear: both;
}

.artist {
  margin-top: 45px;
  width: 66%;
  float: right;
}

.love {
  padding-top: 45px;
  width: 66%;
  clear: both;
}

h2{
  font-weight: bold;
}

.background{
  margin-top: 120px;
  background-image: url("../images/background.png");
  height: 560px;
  background-repeat: no-repeat;
  background-position-x: 400px;
  clear: both;
}

.background p{
  width: 310px;
}

.rrss {
  width: 100%;
  text-align: center;
  padding-top: 120px;
  clear: both;
}

.rrss span{
  margin: 0 10px;
}

.rrss a:hover{
  text-decoration: none;
}
